<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MOG'S</title>

    <!-- <link rel="stylesheet" href="/css/footer.css"> -->
    <link rel="stylesheet" href="/css/login.css">

</head>
<body>

    <div id="welcomeresize" class="conatiner">
        <blockquote class="blockquote text-center">
            <h1 class="mt-5">Screen Width is too small please increase your window width</h1>
            <h3 class="blockquote-footer" style="color: #EA2626;">Regards from <cite title="Source Title">MOG</cite></h3>
          </blockquote>
    </div>

<div id="welcome" class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body text-center">
            <h1><img id="img1" src="/images/icons/mog.png"></h1>
            <p>Create an account or login</p>
            <a href="/users/register" class="btn btn-primary btn-block mb-2"
              >Register</a
            >
            <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
          </div>
        </div>
      </div>

      </body>
      </html>
